body{
    background-color: pink;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#watch{
    text-align: center;
    background-color: #3B86A5;
    width: 100%;
    max-width: 700px;
    margin: 4rem auto ;
    padding: 1rem 2rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

#watch #timer,#controller{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin: 1.5rem;
}
#watch #timer .circle {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin: 1rem;
    background: lightblue;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    font-size: 2rem;
    font-weight: 600;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#watch #timer span{
    font-size: 3rem ;
    color: white;
    

}

#watch #controller button{
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items:center;
    margin: 2rem;
    width: 100px;
    height: 40px;
    padding: 1rem;
    background-color: #FF0080;
    border: none;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.5rem;
    font-weight: 600;
    transition: 0.4sec;
    

}

#watch #controller button:hover{
    opacity: 0.8;
}
#watch #controller button:active{
    background-color: #AA1945;
}

.save-time{
    margin: auto;
   
}
.save-time ul li{
    padding: 0.5rem;
    margin: 1rem;
    padding: 1rem 2rem;
    background-color: #96AD90;
    color: white;
    font-size: 1.5rem;
    list-style: none;
    font-weight: 600;
}


